# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.cmsis/include/cachel1_armv7.h
.cmsis/include/cmsis_armcc.h
.cmsis/include/cmsis_armclang_ltm.h
.cmsis/include/cmsis_armclang.h
.cmsis/include/cmsis_compiler.h
.cmsis/include/cmsis_gcc.h
.cmsis/include/cmsis_iccarm.h
.cmsis/include/cmsis_version.h
.cmsis/include/core_armv8mbl.h
.cmsis/include/core_armv8mml.h
.cmsis/include/core_armv81mml.h
.cmsis/include/core_cm0.h
.cmsis/include/core_cm0plus.h
.cmsis/include/core_cm1.h
.cmsis/include/core_cm3.h
.cmsis/include/core_cm4.h
.cmsis/include/core_cm7.h
.cmsis/include/core_cm23.h
.cmsis/include/core_cm33.h
.cmsis/include/core_cm35p.h
.cmsis/include/core_cm55.h
.cmsis/include/core_cm85.h
.cmsis/include/core_sc000.h
.cmsis/include/core_sc300.h
.cmsis/include/core_starmc1.h
.cmsis/include/mpu_armv7.h
.cmsis/include/mpu_armv8.h
.cmsis/include/pac_armv81.h
.cmsis/include/pmu_armv8.h
.cmsis/include/tz_context.h
.eide/eide.json
.eide/target 1.arm.options.v5.json
.eide/target 1.arm.options.v6.json
.eide/target 1.files.options.yml
.eide/deps/RTE_Components.h
.vscode/keil-assistant.log
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/uv4.log
.vscode/uv4.log.lock
DebugConfig/Target_1_STM32F103C8_1.0.0.dbgconf
Listings/startup_stm32f10x_md.lst
.clang-format
.eide.usr.ctx.json
test.code-workspace
Objects/core_cm3.crf
Objects/main.crf
Objects/misc.crf
Objects/stm32f10x_adc.crf
Objects/stm32f10x_bkp.crf
Objects/stm32f10x_can.crf
Objects/stm32f10x_cec.crf
Objects/stm32f10x_crc.crf
Objects/stm32f10x_dac.crf
Objects/stm32f10x_dbgmcu.crf
Objects/stm32f10x_dma.crf
Objects/stm32f10x_exti.crf
Objects/stm32f10x_flash.crf
Objects/stm32f10x_fsmc.crf
Objects/stm32f10x_gpio.crf
Objects/stm32f10x_i2c.crf
Objects/stm32f10x_it.crf
Objects/stm32f10x_iwdg.crf
Objects/stm32f10x_pwr.crf
Objects/stm32f10x_rcc.crf
Objects/stm32f10x_rtc.crf
Objects/stm32f10x_sdio.crf
Objects/stm32f10x_spi.crf
Objects/stm32f10x_tim.crf
Objects/stm32f10x_usart.crf
Objects/stm32f10x_wwdg.crf
Objects/system_stm32f10x.crf
Objects/test_Target 1.dep
Objects/test.axf
Objects/test.build_log.htm
Objects/test.htm
Objects/test.lnp
